<div class="show_event">
  
  <h3> <%= @title ||= "Editing #{@event.title.to_s}" %> </h3>

  <% form_for @event, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>

    <%= f.error_messages %>
  
    <%= render :partial => 'form', :locals => { :f => f, :event => @event } %>

    <%= submit_tag "Save", :class => "button" %>
  
  <% end %>

</div>