<div class="show_event">
  <h2> <%= @title = "New Event"%> </h2>
  
  <% form_for(@event, :html => { :multipart => true }) do |f| %>
  
    <%= render :partial => 'form', :locals => { :f => f, :event => @event } %>

    <br />
    <%= f.submit t('save'), :class => "button" %>

  <% end %>

</div>