<h2> <%= @title = "#{t('new')} #{t('event')}"%> </h2>
<br />

<% form_for(@event, :url => admin_events_path, :html => { :multipart => true }) do |f| %>

  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f, :event => @event } %>

  <br />
  <%= f.submit t('save'), :class => "button" %>

<% end %>


