/*--------------------------------------|
| Site: http://www.smashingmagazine.com |
| Author: John O'Nolan                  |
| Author URI: http://john.onolan.org    |
| Type: Screen                          |
| Date: June 2009                       |
|--------------------------------------*/

/*--- CSS Reset ---*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
}
:focus {
   outline: 0;
}
body {
   line-height: 22px;
}
ul {
   list-style: none;
}
table {
   border-collapse: separate;
   border-spacing: 0;
}
caption, th, td {
   text-align: left;
   font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: "";
}
blockquote, q {
   quotes: "" "";
}

.left {float:left}
.right {float:right;margin-right:0!important;}
.right p {margin-top: 0; margin-bottom: 20px}

.clearfix:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

/* Hides from IE-max \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*--- Common ---*/

body {
	font-family:Arial, Verdana, sans-serif;
	color:#fff;
	background:#474747 url(/images/themes/Typography/nav-bg.png) top left repeat-x
}

h1 {font-size:50px;letter-spacing:-10px}

h2.header {
	width:360px;
	float:left;
	font-size:40px;
	line-height:58px;
	letter-spacing:-1px;
	margin:30px 0 0 1px;
}
h3 {
	float:left;
	margin:0 0 30px 0;
	font-family:Times, Georgia, Serif;
	font-weight:normal;
	font-size:30px;
	line-height:30px;
	width:80%;
}

h4 {float:left;margin:0 0 20px 0;font-size:20px;}

p {
  line-height:22px;
  clear:both;
}

em {font-style:italic;border-bottom:1px dashed;}
strong {font-weight:bold;color:#ff9000;text-transform:uppercase;}

a {color:#fff;border-bottom:1px solid;}
a:hover {color:#ff9000;}

.event_title {
  color:#ff9000;
  text-decoration: none;
}
.event_title a {
  color:#ff9000;
  text-decoration: none;
}
.event_location {
  font-style: italic;
  text-decoration: none;
}
.event_location a {
  text-decoration:none;
}
.number {
	float:right;
	color:#fff;
	font-family:Times, Georgia, Serif;
	font-size:30px;
	line-height:30px;
}


/*--- Layout ---*/

#wrapper {
	width:980px; 
	margin:0 auto; 
	background:url(/images/themes/Typography/radial-bg.png) top left no-repeat;
}


/*--- Nav ---*/

#nav {
	list-style:none;
	margin:0;
	padding:8px 0 0 0px;
	font-size:20px;
	letter-spacing:-1px;
	position:relative;
	z-index:50;
}

#nav li {float:left;margin:0 50px 0 0;}
#nav li a {text-decoration:none;padding:3px 10px;border:none;}
#nav li#first a {padding-left:0}
	

/*--- Header ---*/

#header {height:580px}
#header {text-decoration: none;}
#header a {text-decoration: none;}
#logo {float:left;margin:65px 0 0 0}


/*--- Content ---*/

.box {
	float:left;
	width:100%;
	margin: 0px 15px 10px 0;
	padding: 10px 0 0 0;
	background:url(/images/themes/Typography/box-bg.png) top left repeat-x
}
.box a {
  color: #ff9000;
  text-decoration: none;
}
.small {width:310px;}
.big {width:650px;}

.sidenote p {
	text-align:right;
	font-size:16px;
/*  line-height:24px;*/
	margin: 0 0 6px 0;
	float:none;
}


/*--- Footer ---*/
#footer {
	float:left;
	width:100%;
	height:358px;
	margin:50px 0 0 0;
	background:url(/images/themes/Typography/footer-bg.png) bottom left repeat-x;
}
#mini_footer {
	float:left;
	width:100%;
	height:150px;
	margin:30px 0 0 0;
  background:url(/images/themes/Typography/footer-bg.png) bottom left repeat-x;
}

.inner {width:960px;margin:0 auto;padding:40px 0 0 0;}
.inner_thin {width:960px;margin:0 auto;padding:0;}

#footer img, #footer p {margin:0 53px 10px 0; width:200px;float:left}

.credits {margin:35px 0 0 0;font-size:13px}
.credits a {text-decoration:none;}


.top_content {
  clear: both;
  margin: 40px 0 20px 0;
  padding: 2px
}

.top_content h1,
.top_content h2,
.top_content h3,
.top_content h4 {
  width: 100%;
  clear: both;
  display: block;
  margin: 0px;
  padding: 0px;
}
.top_content h3 {
  color: rgb(255, 144, 0);
}


/* ----------- Forms ----------- */
.users {
  color: #000;
	margin:auto;
	width:620px;
	padding:15px 0 0 15px;
	text-align:left;
	float: left;
	font-size: 14px;
  letter-spacing: 0px;
  border:solid 2px #b7ddf2;
	background:#ebf4fb;
	margin-bottom: 10px;
}
.users h1, 
.users h2, 
.users h3, 
.users h4,
.users a {
  text-decoration:none;
  color: #000;
  width: 100%;
  border:0; margin:0; padding:0;
  border: none;
  letter-spacing: 0px;
}
.users h1 {font-size: 2.2em;} 
.users h2 {font-size: 1.8em;} 
.users h3 {font-size: 1.6em;}
.users h4 {font-size: 1.2em;}
.users p, 
.users form, 
.users button { 
  color: #000;
  border:0; margin:0; padding:0;
  letter-spacing: 0px;
  display: block;
}
.users p {
  display: block;
  clear: both;
}
.users a {
  color: rgb(255, 144, 0);
}
.users .spacer {
  clear:both; height:1px;
}

.users p {
	font-size:14px;
	color:#666666;
	margin: 2px;
	padding: 1px
}
.users form p {
	border-bottom:solid 1px #b7ddf2;
	margin-top: 10px;
	margin-bottom:20px;
	padding-bottom:10px;
}

.users label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:220px;
	float:left;
	margin-bottom: 10px;
}
.users .small {
	color:#666666;
	display:block;
	font-size:12px;
	font-weight:normal;
	text-align:right;
	width:220px;
	color: red;
}
.users input { 
  font-size:1.25em;
	padding:5px;
	border:solid 1px #aacfe4;
	margin:2px 0 20px 10px;
	color: #222;
}
.users input.wide {
	float:left;
	width:300px;
}
.users textarea {
	float:left;
	font-size:1.25em;
	padding:5px;
	border:solid 1px #aacfe4;
	width:300px;
	margin:2px 0 20px 10px;
	color: #222;
}

.users input.button { 
  border:none;
	clear:both;
	width:125px;
	height:31px;
	background:#666666 url(/images/signup_button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:15px;
	font-weight:normal;
	float: right;
	margin: 15px 160px 15px 0;
	padding: 0
}


.users table  {
  margin: 3px;
}
.users table tr td {
  padding: 3px;
}
.users .profile_image {
  float: left;
  width: auto;
  padding: 0 10px 15px 0;
  margin:0;
}
.users .profile_image img {
  border: 2px solid #ccc;
  padding: 2px;
  margin:0;
}
.users .profile_body {
  padding: 15px 0px 15px 0;
  float: left;
  width: auto;
  display:inline;
}
.users .profile_body_full {
  padding: 0px 0px 15px 5px;
  float: left;
  width: 100%;
  display:inline;
  clear: both
}

.users .remember_me {
  float: right;
}


/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { 
  padding: 5px 10px; margin: 10px 0; border: 2px solid #ddd; font-size: 14px;
  width: 540px;
  clear: both;
}

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/* Errors */

#errorExplanation {
  width: 90%;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FBE3E4;
}

#errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  font-size: 1.3em;
  margin: 0;
  width: auto;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
	font-size: 1.4em;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 1.2em;
  list-style: disc;
	color: #222;
}
.events {
  display: block;
  float: left;
}
.events select {
  padding-bottom: 2px;
  font-size: 13px;
}

.events h1, 
.events h2, 
.events h3, 
.events h4 {
  color: rgb(255, 144, 0);
  clear:both;
  width: 100%;
  margin: 8px 0 4px 0;
}
.events h1 {font-size: 1.9em;}
.events h2 {font-size: 1.6em;}
.events h3 {font-size: 1.4em;}
.events h4 {font-size: 1.2em;}

.events p {
  margin: 5px 0 10px 0;
  clear:both;
  width: 100%;
}
.events input { 
  font-size:1.2em;
	padding:2px;
	border:solid 2px #aacfe4;
	color: #444;
}
.events input.wide {
	width:400px;
}
.events textarea {
	float:left;
	font-size:1.25em;
	padding:4px;
	border:solid 1px #aacfe4;
	width:400px;
	margin:2px 0 20px 10px;
	color: #444;
}

.events input.button { 
  border: 2px solid #000;
	clear:both;
	width:125px;
	height:40px;
	background-color:#222;
	text-align:center;
	color:#FFFFFF;
	font-size:1.2em;
	margin: 0;
	font-weight:normal;
	padding: 0
}
table.events {
  float: left; 
}
table.events tr td {
  padding: 3px 4px 3px 2px;
}
table.events tr td .inputError {
  font-weight: normal;
  color:red;
}

.inputError {
  font-size: 1em;
  font-weight:normal;
  color:red;
}

.show_event {
  color: #000;
	margin:auto;
	width:97%;
	padding:15px;
	text-align:left;
	float: left;
	font-size: 14px;
  letter-spacing: 0px;
  border:solid 2px #b7ddf2;
	background:#ebf4fb;
	margin-bottom: 10px;
}

.show_event .event_image {
  float: left;
  width: auto;
  padding: 0 10px 15px 0;
  margin:0;
}
.show_event .event_image img {
  border: 2px solid #ccc;
  padding: 2px;
  margin:0;
}
.show_event .event_body {
  padding: 15px 0px 15px 0;
  float: left;
  width: auto;
  display:inline;
}
.show_event .event_body_full {
  padding: 0px 0px 15px 5px;
  float: left;
  width: 100%;
  display:inline;
  clear: both
}
.show_event a {
  color: #ff9000;
}

.featured_event_image img {
  display: inline;
  float: left;
  margin: 8px 8px 0 0;
}
.featured_event_text {
  font-size: 16px;
  margin-bottom: 20px;
}
.featured_event_text p {
  display: inline;
}

/* Noscript Notice */
.noscript { 
  border:1px solid #ddd; 
  border-width:0 0 1px; 
  background:#ffff90; 
  font-size:12px; 
  line-height:1.25; 
  text-align:center; 
  color:#2f2f2f; 
}
.noscript .noscript-inner { 
  width:900px; 
  margin:0 auto; 
  padding:10px 0 10px; 
  background:url("/images/i_notice.gif") 20px 50% no-repeat; 
}
.noscript p { margin:0; }


.fieldWithErrors {
  display: inline;
}
.fieldWithErrors select, 
.fieldWithErrors textarea, 
.fieldWithErrors input {
  border-color: red;
}

